<template>
  <div class="container mt-5 mb-5">
    <TranslationBrickDefinition
      api-base-url="http://localhost:9050"
    ></TranslationBrickDefinition>
  </div>
</template>

<script>
import TranslationBrickDefinition from '../components/BrickDefinition';
export default {
  components: {
    TranslationBrickDefinition
  }
};
</script>
