<template>
  <div class="container mt-5 mb-5">
    <TranslationBrick
      :language-options="['de', 'en']"
      api-base-url="http://localhost:9050"
      initial-reference="en"
      initial-target="de"
    ></TranslationBrick>
  </div>
</template>
<script>
import TranslationBrick from '../components/BrickTranslation';
export default {
  components: { TranslationBrick }
};
</script>
