<template>
  <div>
    <div>
      <div class="row">
        <div class="col-6">
          <b-form-group label="Reference Language">
            <b-form-select
              v-model="selectedReference"
              :options="languageOptions"
            ></b-form-select>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-form-group label="Target Language">
            <b-form-select
              v-model="selectedTarget"
              :options="languageOptions"
            ></b-form-select>
          </b-form-group>
        </div>
      </div>
    </div>

    <div>
      <b-input
        v-model="textFilter"
        @change="refreshData"
        placeholder="Search"
      ></b-input>
    </div>

    <div class="row mt-4">
      <div class="col-6 h1 text-uppercase">{{ selectedReference }}</div>
      <div class="col-6 h1 text-uppercase">{{ selectedTarget }}</div>
    </div>

    <div
      v-for="brick in bricks"
      :key="brick.key"
      v-if="loaded === true"
      class="mt-4 striped"
    >
      <div class="row">
        <div class="col font-weight-bold brick-title">{{ brick.key }}</div>
      </div>
      <div class="row to-stripe">
        <div class="col-5">
          <BrickPreview v-model="translationData[brick.key][selectedReference]">
          </BrickPreview>
        </div>
        <div class="col-1 pt-1 pb-1">
          <b-button
            @click="showPreview(brick, selectedReference)"
            v-if="hasTranslation(brick, selectedReference)"
            variant="info"
          >
            <font-awesome-icon :icon="['fas', 'eye']" />
          </b-button>
        </div>
        <div class="col-5">
          <BrickPreview v-model="translationData[brick.key][selectedTarget]">
          </BrickPreview>
        </div>
        <div class="col-1 pt-1 pb-1 text-nowrap">
          <b-button
            @click="showPreview(brick, selectedTarget)"
            v-if="hasTranslation(brick, selectedTarget)"
            variant="info"
            class="mr-2"
          >
            <font-awesome-icon :icon="['fas', 'eye']" />
          </b-button>
          <b-button @click="showEdit(brick)" variant="success">
            <font-awesome-icon :icon="['fas', 'pencil-alt']" />
          </b-button>
        </div>
      </div>
    </div>

    <BrickPreviewModal ref="previewModal"></BrickPreviewModal>
    <BrickEditModal ref="editModal" @save="onSave"></BrickEditModal>
  </div>
</template>

<script>
import BrickPreviewModal from './_brick/BrickPreviewModal';
import BrickEditModal from './_brick/BrickTranslationEditModal';
import BrickPreview from './_brick/BrickPreview';

export default {
  components: {
    BrickPreviewModal,
    BrickEditModal,
    BrickPreview
  },
  props: {
    languageOptions: {
      type: Array,
      default: () => {
        return ['en'];
      }
    },
    initialReference: {
      type: String,
      default: 'en'
    },
    initialTarget: {
      type: String,
      default: 'en'
    },
    apiBaseUrl: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      textFilter: '',
      currentPage: 0,
      pageSize: 999999,
      totalPages: 0,
      selectedReference: this.initialReference,
      selectedTarget: this.initialTarget,
      bricks: [],
      translationData: {},
      loaded: false
    };
  },
  mounted() {
    this.refreshData();
  },
  methods: {
    async onSave(brick, translationTarget, translatedValue) {
      // this.$refs.editModal.hide();

      const loader = this.$loading.show();

      await this.$axios.$put(`${this.apiBaseUrl}/admin/translation`, {
        key: brick.key,
        lang: translationTarget,
        value: translatedValue
      });

      /* const key = brick.key;
      if (!this.translationData[key]) {
        this.translationData[key] = {};
      }
      this.translationData[key][translationTarget] = translatedValue; */

      loader.hide();

      this.refreshTranslationData();
    },
    refreshTranslationData() {
      const loader = this.$loading.show();

      this._loadTranslationData();

      loader.hide();
    },
    refreshData() {
      const loader = this.$loading.show();

      this._loadData();

      loader.hide();
    },
    async _loadData() {
      const result = await this.$axios.$get(
        `${this.apiBaseUrl}/admin/brick?pageNumber=${
          this.currentPage
        }&pageSize=${this.pageSize}&searchTerm=${encodeURIComponent(
          this.textFilter
        )}`
      );

      this.bricks = result.content;
      this.totalPages = result.totalPages;

      this._loadTranslationData();
    },
    async _loadTranslationData() {
      const tdata = await this.$axios.$get(
        `${this.apiBaseUrl}/admin/translation?pageNumber=${
          this.currentPage
        }&pageSize=${this.pageSize}&searchTerm=${encodeURIComponent(
          this.textFilter
        )}`
      );

      this.bricks.forEach((brick) => {
        if (!tdata[brick.key]) {
          tdata[brick.key] = {};
        }
      });

      this.translationData = tdata;

      this.loaded = true;
    },
    showEdit(brick) {
      this.$refs.editModal.show(
        brick,
        this.selectedReference,
        this.selectedTarget,
        this.getTranslationRawData(brick, this.selectedReference),
        this.getTranslationRawData(brick, this.selectedTarget)
      );
    },
    showPreview(brick, language) {
      this.$refs.previewModal.show(
        brick,
        this.getTranslationRawData(brick, language)
      );
    },
    hasTranslation(brick, language) {
      const key = brick.key;

      if (
        !this.translationData[key] ||
        !this.translationData[key][language] ||
        this.translationData[key][language] === ''
      ) {
        return false;
      }

      return true;
    },
    getTranslationRawData(brick, language) {
      const key = brick.key;

      if (this.hasTranslation(brick, language)) {
        return this.translationData[key][language];
      }

      return null;
    }
  }
};
</script>

<style lang="scss">
.d-table-cell {
  padding: 0.25rem;
}
</style>
