<template>
  <div>
    <div class="row">
      <div class="col-9">
        <b-input
          v-model="textFilter"
          @change="refreshData"
          placeholder="Search"
        ></b-input>
      </div>

      <div class="col-3 text-right">
        <b-button @click="newModal" variant="info" class="mr-2">
          <font-awesome-icon :icon="['fas', 'plus']" />
        </b-button>
      </div>
    </div>

    <div
      v-for="brick in bricks"
      :key="brick.key"
      class="row striped to-stripe mt-2 pt-1 pb-1"
    >
      <div class="col-6">
        <b-button @click="editModal(brick)" variant="success" class="mr-2">
          <font-awesome-icon :icon="['fas', 'pencil-alt']" />
        </b-button>
        {{ brick.key }}
      </div>
      <div class="col-3">type: {{ brick.type }}</div>
      <div class="col-3">multiline: {{ brick.multiline }}</div>
    </div>

    <BrickDefinitionModal ref="modal" @save="onSave"></BrickDefinitionModal>
  </div>
</template>

<script>
import BrickDefinitionModal from './_brick/BrickDefinitionModal';
export default {
  components: {
    BrickDefinitionModal
  },
  props: {
    apiBaseUrl: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      textFilter: '',
      currentPage: 0,
      pageSize: 999999,
      totalPages: 0,
      bricks: []
    };
  },
  mounted() {
    this.refreshData();
  },
  methods: {
    refreshData() {
      this._loadData();
    },
    async _loadData() {
      const loader = this.$loading.show();

      const result = await this.$axios.$get(
        `${this.apiBaseUrl}/admin/brick?pageNumber=${
          this.currentPage
        }&pageSize=${this.pageSize}&searchTerm=${encodeURIComponent(
          this.textFilter
        )}`
      );

      this.bricks = result.content;
      this.totalPages = result.totalPages;

      loader.hide();
    },
    newModal() {
      this.$refs.modal.show();
    },
    editModal(brick) {
      this.$refs.modal.show(brick);
    },
    async onSave(brick, form) {
      const request = {
        key: form.key,
        type: form.type,
        multiline: !!form.multiline // prevent setting it to undefined
      };

      this.$refs.modal.hide();

      const loader = this.$loading.show();

      if (brick === null) {
        await this.$axios.$post(`${this.apiBaseUrl}/admin/brick`, request);

        loader.hide();

        this.refreshData();
      } else {
        await this.$axios.$put(`${this.apiBaseUrl}/admin/brick`, request);

        this.bricks.forEach((elem) => {
          if (elem.key === brick.key) {
            elem.type = request.type;
            elem.multiline = request.multiline;
          }
        });

        loader.hide();
      }
    }
  }
};
</script>
