<template>
  <b-modal
    ref="theModal"
    :title="modalTitle"
    size="xl"
    no-close-on-backdrop
    no-close-on-esc
    hide-header-close
  >
    <div v-if="brick.type !== 'MARKDOWN'">markdown: disabled</div>
    <div v-else>
      markdown ENABLED
      (<a href="https://www.markdownguide.org/basic-syntax/" target="_blank"
    >help / guide</a
    >)
    </div>
    <div class="row">
      <div class="col-6">
        <div class="d-flex justify-content-between">
          <h3>Source ({{ translationSource }})</h3>
          <b-button
            @click="showPreview(referenceValue)"
            v-if="hasContent(referenceValue)"
            variant="info"
          >
            <font-awesome-icon :icon="['fas', 'eye']" />
          </b-button>
        </div>
        <div class="mt-2 p-2 bg-light">
          <b-form @submit.prevent="onSaveReference">
            <b-input
              v-if="!brick.multiline"
              v-model="referenceValue"
              :readonly="!unlockReference"
            ></b-input>
            <b-form-textarea
              v-else
              :readonly="!unlockReference"
              v-model="referenceValue"
              rows="12"
            ></b-form-textarea>
          </b-form>

          <b-form-checkbox
            v-model="unlockReference"
            switch
            v-if="!unlockReference"
          >
            unlock
          </b-form-checkbox>

          <div v-if="unlockReference" class="mt-2">
            <b-button @click="onCancelReference" variant="danger"
              >CANCEL</b-button
            >
            <b-button @click="onSaveReference" variant="success" class="ml-2"
              >SAVE</b-button
            >
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-between">
          <h3>Target ({{ translationTarget }})</h3>
          <b-button
            @click="showPreview(editValue)"
            v-if="hasContent(editValue)"
            variant="info"
          >
            <font-awesome-icon :icon="['fas', 'eye']" />
          </b-button>
        </div>
        <div class="mt-2">
          <b-form @submit.prevent="onSave">
            <b-input v-if="!brick.multiline" v-model="editValue"></b-input>
            <b-textarea v-else v-model="editValue" rows="12"></b-textarea>
          </b-form>
        </div>
      </div>
    </div>

    <template v-slot:modal-footer>
      <b-button @click="onCancel" variant="danger" :disabled="unlockReference"
        >CANCEL</b-button
      >
      <b-button
        @click="onSave"
        variant="success"
        class="ml-2"
        :disabled="unlockReference"
        >SAVE</b-button
      >
    </template>

    <BrickPreviewModal ref="previewModal"></BrickPreviewModal>
  </b-modal>
</template>

<script>
import BrickPreviewModal from './BrickPreviewModal';
export default {
  components: {
    BrickPreviewModal
  },
  data() {
    return {
      brick: {},
      translationSource: '',
      translationTarget: '',
      referenceValue: '',
      referenceValueOriginal: '',
      editValue: '',
      unlockReference: false
    };
  },
  computed: {
    modalTitle() {
      let title = 'Edit:';
      if (this.brick) {
        title = title + ' ' + this.brick.key;
      }

      return title;
    }
  },
  methods: {
    hasContent(value) {
      if (!value || value === '') {
        return false;
      }

      return true;
    },
    showPreview(value) {
      this.$refs.previewModal.show(this.brick, value);
    },
    show(
      brick,
      translationSource,
      translationTarget,
      referenceValue,
      editValue
    ) {
      this.brick = brick;
      this.translationSource = translationSource;
      this.translationTarget = translationTarget;
      this.referenceValue = referenceValue;
      this.referenceValueOriginal = referenceValue;
      this.editValue = editValue;

      this.$refs.theModal.show();
    },
    hide() {
      this.$refs.theModal.hide();
    },
    toggle() {
      this.$refs.theModal.toggle();
    },
    onCancel() {
      this.$bvModal
        .msgBoxConfirm('Are you sure?')
        .then((value) => {
          if (value === true) {
            this.hide();
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((err) => {
          // An error occurred
        });
    },
    onCancelReference() {
      this.$bvModal
        .msgBoxConfirm('Are you sure?')
        .then((value) => {
          if (value === true) {
            this.referenceValue = this.referenceValueOriginal;
            this.unlockReference = false;
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((err) => {
          // An error occurred
        });
    },
    onSave() {
      this.$emit('save', this.brick, this.translationTarget, this.editValue);
      this.hide();
    },
    onSaveReference() {
      this.$emit(
        'save',
        this.brick,
        this.translationSource,
        this.referenceValue
      );
      this.referenceValueOriginal = this.referenceValue;
      this.unlockReference = false;
    }
  }
};
</script>
