<template>
  <b-modal ref="theModal" :title="modalTitle" size="lg">
    <b-form @submit.prevent="onSave">
      <b-form-group label="Key">
        <b-form-input v-model="form.key" :disabled="!editMode"></b-form-input>
      </b-form-group>

      <b-form-group label="Type">
        <b-form-select v-model="form.type" :options="types"></b-form-select>
      </b-form-group>

      <b-form-checkbox
        v-model="form.multiline"
        :value="true"
        :unchecked-value="false"
      >
        multiline
      </b-form-checkbox>
    </b-form>

    <template v-slot:modal-footer>
      <b-button @click="onCancel" variant="danger">CANCEL</b-button>
      <b-button
        @click="onSave"
        :disabled="!isValidForm"
        variant="success"
        class="ml-2"
        >SAVE</b-button
      >
    </template>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      brick: null,
      form: {},
      formDefault: { key: '', type: 'PLAIN', multiline: false },
      types: ['PLAIN', 'MARKDOWN']
    };
  },
  computed: {
    modalTitle() {
      let title = 'New brick';
      if (this.brick) {
        title = 'Edit: ' + this.brick.key;
      }

      return title;
    },
    editMode() {
      return this.brick === null;
    },
    isValidForm() {
      return this.form.key.length > 4;
    }
  },
  mounted() {
    this.resetForm();
  },
  methods: {
    resetForm() {
      this.form = JSON.parse(JSON.stringify(this.formDefault));
    },
    show(brick) {
      this.resetForm();

      if (brick) {
        this.brick = brick;

        this.form.key = brick.key;
        this.form.type = brick.type;
        this.form.multiline = brick.multiline;
      } else {
        this.brick = null;
      }

      this.$refs.theModal.show();
    },
    hide() {
      this.$refs.theModal.hide();
    },
    toggle() {
      this.$refs.theModal.toggle();
    },
    onCancel() {
      this.hide();
    },
    onSave() {
      if (this.isValidForm) {
        this.$emit('save', this.brick, this.form);
      }
    }
  }
};
</script>
