<template>
  <b-modal ref="theModal" :title="modalTitle" size="lg" hide-footer>
    <div v-html="displayValue"></div>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      displayValue: ''
    };
  },
  computed: {
    modalTitle() {
      let title = 'Preview:';
      if (this.brick) {
        title = title + ' ' + this.brick.key;
      }

      return title;
    }
  },
  methods: {
    show(brick, value) {
      if (brick.type === 'MARKDOWN') {
        this.displayValue = this.$marked(value);
      } else {
        this.displayValue = value;
      }

      this.$refs.theModal.show();
    },
    hide() {
      this.$refs.theModal.hide();
    },
    toggle() {
      this.$refs.theModal.toggle();
    }
  }
};
</script>
