<template>
  <div>
    <span v-if="!isSet" class="text-light">&lt;no-data&gt;</span>
    <span v-else-if="!hasValue" class="text-light">&lt;empty&gt;</span>
    <div
      v-else
      style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"
    >
      {{ value }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: null
    }
  },
  computed: {
    isSet() {
      return !(this.value === undefined || this.value === null);
    },
    hasValue() {
      return !!this.value && this.value !== '';
    }
  }
};
</script>
