.table-header {
  font-weight: bold;
  text-transform: uppercase;

  .d-table-cell {
    text-align: center;
  }
}

.striped:nth-child(2n + 2) {
  &.to-stripe,
  .to-stripe {
    background-color: #cccccc;
  }
}

.striped:nth-child(2n + 1) {
  &.to-stripe,
  .to-stripe {
    background-color: #eeeeee;
  }
}
